.header {
    text-align: center;
    text-size-adjust: 20px;
}



.navbar {
    list-style-type: none;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
  } 

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: blue;
}

.container {
    display: flex;
    background: linear-gradient(rgb(235, 64, 52), rgb(235, 107, 52));
}

.nav {
    background: black ;
    
}